<ion-view view-title="Dashboard">
  <ion-content class="padding fondo">
    <center><h2 class="color">Welcome to Ionic</h2></center>
    <p color>
     <a href="http://market.ionic.io/starters" target="_blank" rel="noopener"></a>.
    </p>
    <p class="color">
       <code></code><code></code>
    </p>
    <p>
   <a href="http://forum.ionicframework.com" target="_blank" rel="noopener"><a href="http://twitter.com/ionicframework" target="_blank" rel="noopener"></a>
    </p>
  </ion-content>
</ion-view>
